<div class="documenti-container">
  <div *ngIf="isLoading && documenti.length === 0" class="loading-state">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Caricamento documenti in corso...</p>
  </div>

  <div *ngIf="!isLoading && documenti.length === 0" class="empty-state">
    <ion-icon name="document-outline"></ion-icon>
    <p>Nessun documento trovato nel database.</p>
  </div>

  <ion-list class="custom-list" lines="none" *ngIf="documenti.length > 0">
    <ion-item
      *ngFor="let doc of documenti"
      class="list-item"
      button
      detail="false"
      (click)="apriDocumento(doc.id)"
    >
      <div slot="start" class="list-icon-box box-primary">
        <ion-icon name="document-outline"></ion-icon>
      </div>

      <ion-label>
        <h2 class="item-title ion-text-wrap">{{ doc.nome_file }}</h2>
        <p class="item-subtitle text-medium">
          Caricato il: {{ doc.data_caricamento | date: "dd/MM/yyyy HH:mm" }}
        </p>
        <p class="item-badge-subtitle">{{ getSottotitolo(doc) }}</p>
      </ion-label>

      <ion-button slot="end" fill="clear" color="primary">
        <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Caricamento altri documenti..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
