<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Archivio</ion-title>
  </ion-toolbar>

  <div class="categories-header">
    <ion-chip
      [class.chip-active]="vistaCorrente === 'clienti'"
      (click)="cambiaVista('clienti')"
      ><ion-label>Committenti</ion-label></ion-chip
    >
    <ion-chip
      [class.chip-active]="vistaCorrente === 'cantieri'"
      (click)="cambiaVista('cantieri')"
      ><ion-label>Indiriz. Cant.</ion-label></ion-chip
    >
    <ion-chip
      [class.chip-active]="vistaCorrente === 'commesse'"
      (click)="cambiaVista('commesse')"
      ><ion-label>Commesse</ion-label></ion-chip
    >
    <ion-chip
      [class.chip-active]="vistaCorrente === 'appuntamenti'"
      (click)="cambiaVista('appuntamenti')"
      ><ion-label>Appuntamenti</ion-label></ion-chip
    >
  </div>

  <ion-toolbar color="primary">
    <div class="search-container">
      <ion-searchbar
        [placeholder]="getPlaceholder()"
        [ngModel]="ricerca"
        (ionInput)="gestisciRicerca($any($event).detail.value)"
        animated="true"
        class="custom-searchbar"
      >
      </ion-searchbar>
      <ion-button fill="clear" color="light" (click)="apriImpostazioni($event)"
        ><ion-icon slot="icon-only" name="filter-outline"></ion-icon
      ></ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="caricaDatiGlobale($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none" class="custom-list" *ngIf="isLoading">
    <ion-item *ngFor="let i of [1,2,3,4,5]" class="list-item">
      <ion-avatar slot="start"
        ><ion-skeleton-text animated></ion-skeleton-text
      ></ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading">
    <div *ngIf="vistaCorrente === 'clienti'">
      <app-lista-clienti
        [clienti]="clientiVisualizzati"
        [isLoading]="isLoading"
        [isAllLoaded]="clientiPage >= clientiTotalPages"
        (loadMore)="caricaAltraPaginaClienti($event)"
        (itemClick)="goToDettaglioElemento($event, 'cliente')"
        (addClick)="apriNuovoCliente()"
      >
      </app-lista-clienti>
    </div>

    <div *ngIf="vistaCorrente === 'cantieri'">
      <app-lista-cantieri
        [cantieri]="cantieriLista"
        [isLoading]="isLoading"
        [isAllLoaded]="cantieriPage >= cantieriTotalPages"
        (loadMore)="caricaAltraPaginaCantieri($event)"
        (itemClick)="goToDettaglioElemento($event, 'cantiere')"
        (addClick)="apriNuovoCantiere()"
      >
      </app-lista-cantieri>
    </div>

    <div *ngIf="vistaCorrente === 'commesse'">
      <app-lista-commesse
        [commesseLista]="commesseLista"
        [commesseGruppi]="commesseGruppi"
        [isGrouped]="isCommesseGrouped"
        [isLoading]="isLoading"
        [isAllLoaded]="commessePage >= commesseTotalPages"
        (loadMore)="caricaAltraPaginaCommesse($event)"
        (itemClick)="goToDettaglioElemento($event, 'commessa')"
      >
      </app-lista-commesse>
    </div>

    <div *ngIf="vistaCorrente === 'appuntamenti'">
      <app-lista-appuntamenti
        [appuntamentiLista]="appuntamentiLista"
        [appuntamentiGruppi]="appuntamentiGruppi"
        [isGrouped]="isAppuntamentiGrouped"
        [groupBySetting]="settingsAppuntamenti.groupBy"
        (itemClick)="goToDettaglioElemento($event, 'appuntamento')"
      >
      </app-lista-appuntamenti>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      *ngIf="vistaCorrente === 'clienti'"
      (click)="apriNuovoCliente()"
      ><ion-icon name="person-add-outline"></ion-icon
    ></ion-fab-button>
    <ion-fab-button
      *ngIf="vistaCorrente === 'cantieri'"
      (click)="apriNuovoCantiere()"
      color="secondary"
      ><ion-icon name="add"></ion-icon
    ></ion-fab-button>
    <ion-fab-button
      *ngIf="vistaCorrente === 'commesse'"
      (click)="apriNuovaCommessa()"
      color="tertiary"
      ><ion-icon name="documents-outline"></ion-icon
    ></ion-fab-button>
    <ion-fab-button
      *ngIf="vistaCorrente === 'appuntamenti'"
      (click)="apriNuovoAppuntamento()"
      color="warning"
      ><ion-icon name="calendar-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
