<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nuovo Cantiere</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chiudi()">Annulla</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="section-box">
    <div class="header-toggle">
      <h3>
        <ion-icon name="person-add-outline"></ion-icon> 
        {{ mode === 'esistente' ? 'Seleziona Cliente' : 'Crea Nuovo Cliente' }}
      </h3>
      
      <ion-button size="small" fill="outline" (click)="toggleMode()">
        {{ mode === 'esistente' ? '+ Crea Nuovo' : 'Scegli Esistente' }}
      </ion-button>
    </div>

    <div *ngIf="mode === 'esistente'" class="fade-in">
      <ion-select label="Cliente di riferimento" label-placement="floating" fill="outline" [(ngModel)]="clienteSelezionatoId" placeholder="Seleziona dalla lista">
        <ion-select-option *ngFor="let c of listaClienti" [value]="c.id">
          {{ c.nome }}
        </ion-select-option>
      </ion-select>
    </div>

    <div *ngIf="mode === 'nuovo'" class="fade-in form-grid">
      <ion-input label="Nome Cliente / Ragione Sociale *" label-placement="floating" fill="outline" [(ngModel)]="nuovoCliente.nome"></ion-input>
      <ion-input label="Telefono" type="tel" label-placement="floating" fill="outline" [(ngModel)]="nuovoCliente.telefono"></ion-input>
      <ion-input label="Email" type="email" label-placement="floating" fill="outline" [(ngModel)]="nuovoCliente.email"></ion-input>
    </div>
  </div>

  <div class="section-box ion-margin-top">
    <h3><ion-icon name="location-outline"></ion-icon> Dati Cantiere</h3>
    
    <div class="form-grid">
      <ion-input label="Via / Piazza *" label-placement="floating" fill="outline" [(ngModel)]="indirizzo.via"></ion-input>
      
      <div style="display: flex; gap: 10px;">
        <ion-input label="Civico *" label-placement="floating" fill="outline" style="flex: 1" [(ngModel)]="indirizzo.civico"></ion-input>
        <ion-input label="CAP *" type="number" label-placement="floating" fill="outline" style="flex: 1" [(ngModel)]="indirizzo.cap"></ion-input>
      </div>

      <ion-input label="Città *" label-placement="floating" fill="outline" [(ngModel)]="indirizzo.citta"></ion-input>
      <ion-input label="Provincia" label-placement="floating" fill="outline" [(ngModel)]="indirizzo.provincia"></ion-input>
    </div>
  </div>

  <ion-button expand="block" class="ion-margin-top" size="large" (click)="salva()" [disabled]="!isFormValid()">
    CREA CANTIERE
  </ion-button>

</ion-content>