<ion-content class="ion-padding login-bg">
  <div class="login-container">
    
    <div class="logo-area">
      <ion-icon name="business" style="font-size: 60px; color: var(--ion-color-primary);"></ion-icon>
      <h1>Gestionale</h1>
      <p>Accedi al tuo account</p>
    </div>

    <form (ngSubmit)="eseguiLogin()">
      
      <div class="input-group">
        <ion-item lines="none" class="custom-input">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input 
            type="text" 
            placeholder="Username" 
            [(ngModel)]="credentials.username" 
            name="username"
            required>
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="custom-input">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input 
            type="password" 
            placeholder="Password" 
            [(ngModel)]="credentials.password" 
            name="password"
            required>
          </ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" class="login-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">ACCEDI</span>
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </ion-button>

      <div class="error-msg" *ngIf="errorMessage">
        <ion-icon name="alert-circle"></ion-icon> {{ errorMessage }}
      </div>

    </form>
  </div>
</ion-content>