<div class="appuntamenti-content">
  <div class="appuntamenti-label">
    <ion-icon name="calendar-outline"></ion-icon> APPUNTAMENTI COLLEGATI
  </div>

  <div *ngIf="!commessa.appuntamenti?.length" class="no-appuntamenti">
    Nessun appuntamento registrato.
  </div>

  <ion-list lines="full">
    <ion-item 
      *ngFor="let app of commessa.appuntamenti" 
      [class.highlight-item]="app.id == targetAppuntamentoId">
      
      <ion-label>
        <h3>{{ app.data_ora | date:'dd/MM/yyyy HH:mm' }}</h3>
        <p>{{ app.nome }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>