<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditing ? "Modifica Appuntamento" : "Nuovo Appuntamento" }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chiudi()">Annulla</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="section-box">
    <div class="header-toggle">
      <h3><ion-icon name="documents-outline"></ion-icon> Riferimento</h3>
    </div>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-toggle mode="ios" [(ngModel)]="usaCommessaGenerica" color="medium">
        Lavoro generico (Nessuna commessa)
      </ion-toggle>
    </ion-item>

    <div *ngIf="!usaCommessaGenerica" class="fade-in">
      <app-generic-selector
        label="Cerca e seleziona commessa..."
        type="commessa"
        [items]="listaCommesse"
        [(selectedId)]="selectedCommessaId">
      </app-generic-selector>

      <ion-button expand="block" fill="outline" class="ion-margin-top" (click)="creaNuovaCommessaAlVolo()">
        <ion-icon name="add" slot="start"></ion-icon>
        Crea Commessa Mancante
      </ion-button>
    </div>
  </div>

  <div class="section-box ion-margin-top">
    <h3><ion-icon name="calendar-outline"></ion-icon> Dettagli Appuntamento</h3>
    <div class="form-grid">
      <ion-input
        label="Data e Ora *"
        type="datetime-local"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="formDati.data_ora">
      </ion-input>

      <ion-textarea
        label="Note"
        label-placement="floating"
        fill="outline"
        rows="3"
        [(ngModel)]="formDati.descrizione">
      </ion-textarea>
    </div>
  </div>

  <ion-button
    expand="block"
    class="ion-margin-top"
    size="large"
    (click)="salva()"
    [disabled]="!isValid()"
  >
    {{ isEditing ? 'SALVA MODIFICHE' : 'CREA APPUNTAMENTO' }}
  </ion-button>
</ion-content>