<ion-list lines="none" class="custom-list" *ngIf="!isGrouped">
  <ion-item
    *ngFor="let item of commesseLista"
    button
    detail="false"
    (click)="itemClick.emit(item)"
    class="list-item animate-enter"
  >
    <div slot="start" class="list-icon-box box-tertiary">
      <ion-icon name="documents"></ion-icon>
    </div>
    <ion-label>
      <div class="meta-row">
        <span class="serial-code">{{ item.seriale }}</span>
        <ion-badge [color]="getColoreStato(item.stato)" class="status-badge">{{
          item.stato
        }}</ion-badge>
      </div>
      <h2 class="item-title">
        {{ item.descrizione || "Nessuna descrizione" }}
      </h2>
      <p class="item-subtitle icon-text">
        <ion-icon name="person-outline"></ion-icon>
        {{
          item.cliente?.nome ||
            item.indirizzo?.cliente?.nome ||
            "Commessa Interna"
        }}
        <span *ngIf="item.indirizzo" class="sub-location"
          >• {{ item.indirizzo.citta }}</span
        >
      </p>
    </ion-label>
    <ion-icon
      [name]="
        item.cliente?.id || item.indirizzo?.cliente?.id
          ? 'chevron-forward'
          : 'create-outline'
      "
      slot="end"
      [color]="
        item.cliente?.id || item.indirizzo?.cliente?.id ? 'medium' : 'primary'
      "
      class="arrow-icon"
    ></ion-icon>
  </ion-item>
</ion-list>

<ion-list lines="none" class="custom-list" *ngIf="isGrouped">
  <ion-item-group *ngFor="let gruppo of commesseGruppi">
    <ion-item-divider sticky="true" class="custom-divider">
      <ion-label>{{ gruppo.nome }} ({{ gruppo.items.length }})</ion-label>
    </ion-item-divider>
    <ion-item
      *ngFor="let item of gruppo.items"
      button
      detail="false"
      (click)="itemClick.emit(item)"
      class="list-item animate-enter"
    >
      <div slot="start" class="list-icon-box box-tertiary">
        <ion-icon name="documents"></ion-icon>
      </div>
      <ion-label>
        <h3 class="item-title" style="margin: 0">
          {{ item.seriale }} -
          {{ item.cliente?.nome || item.indirizzo?.cliente?.nome || "Interna" }}
        </h3>
        <p class="item-subtitle" style="margin-top: 4px">
          {{ item.descrizione }}
        </p>
      </ion-label>
      <ion-icon
        [name]="
          item.cliente?.id || item.indirizzo?.cliente?.id
            ? 'chevron-forward'
            : 'create-outline'
        "
        slot="end"
        [color]="
          item.cliente?.id || item.indirizzo?.cliente?.id ? 'medium' : 'primary'
        "
        class="arrow-icon"
      ></ion-icon>
    </ion-item>
  </ion-item-group>
</ion-list>

<div
  *ngIf="(isGrouped ? commesseGruppi.length : commesseLista.length) === 0"
  class="empty-state"
>
  <ion-icon
    name="folder-open-outline"
    style="font-size: 64px; color: var(--ion-color-medium); opacity: 0.5"
  ></ion-icon>
  <p>Nessuna commessa trovata.</p>
</div>
